html, body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add styles to the form container */
.form-container {
  padding: 10px;
  width: 300px;
  height: 500px; 
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: white;
}

.form-container img{
  height: 150px;
  width: 100%;
}

.form-container label{
  float: left;
  margin-left: 15px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color:orange;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .btn:hover {
  background-color: #d18a07e8;
}

.btn{
  background-color: #f8af27e8;
  border-radius: 5px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 200px;
}

/* Add some hover effects to buttons */
.btn:hover {
  background-color: #c9870ee8;
}

.home{
  background-image: url("./media/amazoncenter2.jpg");
  background-position: center; 
  background-size: cover;
}

.footer{
 background-color:orange;
 color: white;
 text-align: center;
}
.footer h4{
  padding-top: 10px;
}

/* .course{
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* Courses Page */

.courseGroup{
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.courses{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.courseList{
  width: 100%;
  
}

.courseList img {
  width: 100%;
  height: 300px;
}

.frame{
  border: 2px solid rgb(71, 71, 71);
  width: 100%;
  height: 500px;
  background-color: black;
}


/* .frame{
position:fixed;
top:0;
left:0;
bottom:0;
right:0;
width:100%; 
height:100%;
border:none; 
margin:0; 
padding:0;
overflow:hidden;
z-index:999999;
} */
/* Media Query */
/* 
@media only screen and (max-width: 320px)
{
  .home{
    height: 568px;
  }
}

@media only screen and (max-width: 414px) and (min-width: 361px)
{
  .home{
    height: 823px;
  }
}
*/

@media only screen and (max-width: 767px) and (min-width: 260px){
  .courses{
    display: flex;
    flex-direction: column;
  }
}

 @media only screen and (max-width: 1024px) and (min-width: 768px)
{
  .home{
    height: 1024px;
    background-image: url("./media/amazoncenter2.jpg");
    background-position: center; 
    object-fit: scale-down;
  }
}


@media only screen and (max-width: 1366px) and (min-width: 1025px)
{
  .home{
    height: 768px;
    background-image: url("./media/amazoncenter2.jpg");
    background-position: center; 
    background-size: cover;
  }
  
}